{% extends 'base.html' %} {% block content %}
<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col flex-auto h-full p-6">
      <div
        class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
      >
        <div class="flex flex-col h-full overflow-x-auto mb-4" id="chat-window">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2" id="chat">
              {% for message in messages %}
              <div
                class="{% if request.user == message.user %}col-start-6 col-end-13{% else %}col-start-1 col-end-8{% endif %} p-3 rounded-lg"
              >
                <div
                  class="flex items-center {% if request.user == message.user %}justify-start flex-row-reverse{% else %}flex-row{% endif %}"
                >
                  <div
                    class="relative text-sm bg-{% if request.user == message.user %}indigo-100{% else %}white{% endif %} py-2 px-4 shadow rounded-xl"
                  >
                    <div>{{ message.content }}</div>
                    <div
                      class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500"
                    >
                      {{ message.user.username }}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div
          class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4"
        >
          <div class="flex-grow">
            <div class="relative w-full">
              <input
                type="text"
                id="chat-input"
                placeholder="Сообщение"
                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
              />
            </div>
          </div>
          <div class="ml-4">
            <button
              id="chat-submit"
              class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-full text-white p-2 flex-shrink-0"
            >
              <span class="">
                <svg
                  class="w-6 h-6 rotate-45 -mt-px"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ chat.slug|json_script:"json-chatname" }}
{{ request.user.username|json_script:"json-username" }}
<script>
  const chatName = JSON.parse(
    document.getElementById("json-chatname").textContent
  );
  const userName = JSON.parse(
    document.getElementById("json-username").textContent
  );

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/" + chatName + "/"
  );

  chatSocket.onclose = function (e) {
    console.log("CLOSE");
  };

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    if (data.message) {
      console.log(userName);
      console.log(data);
      let html = ''
      if (userName === data.username) {
        html += '<div class="col-start-6 col-end-13 p-3 rounded-lg">';
        html +=
          '<div class="flex items-center justify-start flex-row-reverse">';
        html +=
          '<div class="relative text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">';
        html += "<div>" + data.message + "</div>";
        html +=
          '<div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">' +
          data.username +
          "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
      } else {
        html += '<div class="col-start-1 col-end-8 p-3 rounded-lg">';
        html +=
          '<div class="flex items-center flex-row">';
        html +=
          '<div class="relative text-sm bg-white py-2 px-4 shadow rounded-xl">';
        html += "<div>" + data.message + "</div>";
        html +=
          '<div class="absolute text-xs bottom-0 right-0 -mb-5 mr-2 text-gray-500">' +
          data.username +
          "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
      }

      document.querySelector("#chat").innerHTML += html;
      scrollToBottom();
    }
  };

  document.querySelector("#chat-submit").onclick = function (e) {
    e.preventDefault();
    const messageInput = document.querySelector("#chat-input");
    const message = messageInput.value;
    if (message.length > 0) {
      chatSocket.send(
        JSON.stringify({
          message: message,
          username: userName,
          chat: chatName,
        })
      );
    }
    messageInput.value = "";

    return false;
  };

  function scrollToBottom() {
    console.log("OK");
    let objDiv = document.getElementById("chat-window");
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  scrollToBottom();
</script>
{% endblock %}
