{% extends 'base.html' %} 

{% block title %}Главная{% endblock %}

{% block content %}
{% include 'header.html' %}

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl flex lg:max-w-none">
    <div class="flex flex-wrap items-center">
      {% for chat in chats %}
      <a href="{% url 'chat' chat.slug %}" class="mr-4 rounded-md border py-3 px-4 text-sm font-medium hover:bg-gray-50 focus:outline-none cursor-pointer text-gray-900 shadow-sm">
        <span>{{ chat.name }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
